.side{
    width:30%;
    background-color: rgba(212, 110, 110, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.sidemenu{
    width:90%;
    height: 70px;
    margin-top:20px;
    font-size: 1.3rem;
    padding:0 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}