.all{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.main_all{
    margin-top: 10px;
    width:1200px;
    height: 800px;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}